*{
  text-decoration: none;
  font-family: sans-serif;
  color: white;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(black, red, red, black);
  margin:0;
  padding:0;
}

.display {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  /* background-image: url("./images/marvel.png"); */
  background-size: cover;
 
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 100px;
  overflow: hidden;
  box-sizing: border-box;
}
nav .brand {
  float: left;
  height: 100;
  line-height: 70px;
}
nav .brand h2 {
  margin: 0;
  padding: 0;
  color: #fff;
}
nav ul {
  float: right;
  display: flex;
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  position: relative;
  display: block;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
nav ul li a:hover {
  color: #262626;
}
nav ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform-origin: right;
  z-index: -1;
  transform: scaleX(0);
  transition: transform 0.5s;
}
nav ul li a:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}

video {
  margin-top: 220px;
  padding-left: 150px;
  width: 75%;
  height: 300px;
  object-fit: cover;
}

label {
  color: white;
  padding-right: 10px;
}

#bio-content{
  margin-top: 215px;
  padding: 2px 16px;
}

.bioObject {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5%;
  padding: 20px;
  margin: 20px;
  color: white;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein{
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.bioObject:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,5);
}

input {
  border: 2px solid red;
  border-radius: 6px;
  color: white;
  background-color: transparent;
  background-image: url('images/searchicon.png');
  background-size: 12px;
  background-position: 3px 3px; 
  background-repeat: no-repeat;
  padding-left: 16px;
}