*{
  text-decoration: none;
  font-family: sans-serif;
  color: white;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(black, red, red, black);
  margin:0;
  padding:0;
}

.display {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-size: cover;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 100px;
  overflow: hidden;
  box-sizing: border-box;
}
nav .brand {
  float: left;
  height: 100;
  color: white;
  line-height: 70px;
  box-shadow: 5px 20px 60px rgba(255, 255, 255, 0.623);
  border-radius: 50px;
}
nav .brand h2 {
  margin: 0;
  padding: 0;
  color: white;
}
nav ul {
  float: right;
  display: flex;
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  position: relative;
  display: block;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
nav ul li a:hover {
  color: #262626;
}
nav ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform-origin: right;
  z-index: -1;
  transform: scaleX(0);
  transition: transform 0.5s;
}
nav ul li a:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}

.knockout {
  display: block;
  background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) 0px 0px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 70px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
  width: 800px;
  margin: 100px auto;
  text-align: center;
  animation-duration: 5s;
  animation-name: slidein;
}

.video {
  position: absolute;
  left: 33%;
  margin: 0;
  animation-duration: 5s;
  animation-name: slidein;
}

#bio-content {
  margin-top: 215px;
  padding: 2px 16px;
}

img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: #000000a6;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(91, 92, 98);
  border: 2px solid #000000;
  color: white;
  animation-duration: 3s;
  animation-name: slidein;
}

.bioObject:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,5);
}

input {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: auto;
  background: #000000a6;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(91, 92, 98);
  border: 2px solid #000000;
  color: white;
  padding: 10px;
  border-radius: 30px;
}